<div class="max-w-sm rounded overflow-hidden shadow-lg m-5 px-25">
  <div class="px-6 py-4">
      <div class="mb-8">
  <h2 class="p-2 text-purple-light">Create a New Meet</h2>
  <form action="/meet" method="post">
    <p class="p-2">
      <input type="text" name="name" id="name" placeholder="Name" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="text" name="description" id="description" placeholder="Description" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="text" name="location" id="location" placeholder="Location" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="text" name="time" id="time" placeholder="Time" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="text" name="date" id="date" placeholder="Date" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="text" name="community" id="community" placeholder="Community" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="submit" value="Create" class="button bg-purple-light rounded p-2 text-white">
    </p>
  </form>
  </div>
</div>
</div>
