<div class="max-w-sm rounded overflow-hidden shadow-lg m-5 px-25">
  <div class="px-6 py-4">
      <div class="mb-8">
  <h2 class="p-2 text-teal">Create a New Community</h2>

  <form action="/community" method="post">
    <p class="p-2">
      <input type="text" name="name" id="name" placeholder="Name" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="text" name="description" id="description" placeholder="Description" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="text" name="users" id="users" placeholder="Users" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="text" name="meets" id="meets" placeholder="Number of Meets" class="border-2 border-grey rounded p-2">
    </p>
    <p class="p-2">
      <input type="submit" value="Create" class="button bg-teal rounded p-2">
    </p>
  </form>
  </div>
</div>
</div>

<!--
<form class="w-full max-w-xs" action="/community" method="POST">
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block text-grey font-bold md:text-right mb-1 md:mb-0 pr-4" for="name">
        Name
      </label>
    </div>
    <div class="md:w-2/3">
      <input class="bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-teal" id="name" type="text" placeholder="name">
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block text-grey font-bold md:text-right mb-1 md:mb-0 pr-4" for="description">
        Description
      </label>
    </div>
    <div class="md:w-2/3">
      <input class="bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-teal" id="description" type="text" placeholder="Description">
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block text-grey font-bold md:text-right mb-1 md:mb-0 pr-4" for="users">
        Users
      </label>
    </div>
    <div class="md:w-2/3">
      <input class="bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-teal" id="users" type="text" placeholder="Users">
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block text-grey font-bold md:text-right mb-1 md:mb-0 pr-4" for="meets">
        Meets
      </label>
    </div>
    <div class="md:w-2/3">
      <input class="bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-teal" id="meets" type="text" placeholder="Meets">
    </div>
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-1/3"></div>
    <div class="md:w-2/3">
      <button class="shadow bg-teal hover:bg-teal-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
        Create
      </button>
    </div>
  </div>
</form>
-->
