<div class="container">
<h3>Create a New Community</h3>

<form action="/link" method="post">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description">
  </p>
  <p>
    <label for="users">Users:</label>
    <input type="text" name="users" id="users">
  </p>
  <p>
    <label for="meets">Meets:</label>
    <input type="text" name="meets" id="meets">
  </p>
  <p>
    <input type="submit" value="Save" class="btn amber darken-1">
  </p>
</form>
</div>
