<div class="max-w-sm rounded overflow-hidden shadow-lg m-5 px-25">
  <div class="px-6 py-4">
      <div class="mb-8">
<div class="container">
<h2 class="p-3 text-purple-light">Log In</h2>
{{#if error}}
<div class="bg-red-lightest border border-red-light text-red-dark px-4 py-3 rounded relative" role="alert">
  <span class="block sm:inline">{{error}}</span>
  <span class="absolute pin-t pin-b pin-r px-4 py-3">
  </span>
</div>
{{/if}}
{{#if info}}
<div class="bg-yellow-lightest border border-yellow-light text-yellow-dark px-4 py-3 rounded relative" role="alert">
  <span class="block sm:inline">{{info}}</span>
  <span class="absolute pin-t pin-b pin-r px-4 py-3">
  </span>
</div>
{{/if}}
<form action="/login" method="post">
  <p class="form-group p-2">
    <input type="text" name="username" id="username" placeholder="Username" class="form-control p-2 border-2 border-grey rounded">
  </p>
  <p class="form-group p-2">
    <input type="password" name="password" id="password" placeholder="Password" class="form-control p-2 border-2 border-grey rounded">
  </p>
  <p class="form-group p-3">
    <input type="submit" value="Log In" class="button bg-purple-light rounded p-2 text-white">
  </p>
</form>
</div>
</div>
</div>
</div>
