<div class="max-w-sm rounded overflow-hidden shadow-lg m-5 px-25">
  <div class="px-6 py-4">
      <div class="mb-8">
<div class="container">
<h2 class="p-3 text-purple-light">Log In</h2>
{{#if error}}
<p class="alert alert-danger p-2 text-red-light">{{error}}</p>
{{/if}}
{{#if info}}
<p class="alert alert-warning p-2 text-red-light">{{info}}</p>
{{/if}}
<form action="/login" method="post">
  <p class="form-group p-2">
    <input type="text" name="username" id="username" placeholder="Username" class="form-control p-2 border-2 border-grey rounded">
  </p>
  <p class="form-group p-2">
    <input type="password" name="password" id="password" placeholder="Password" class="form-control p-2 border-2 border-grey rounded">
  </p>
  <p class="form-group p-3">
    <input type="submit" value="Log In" class="button bg-purple-light rounded p-2 text-white">
  </p>
</form>
</div>
</div>
</div>
</div>
