<div class="max-w-sm rounded overflow-hidden shadow-lg m-5 px-25">
  <div class="px-6 py-4">
      <div class="mb-8">
  <h2 class="p-2 text-purple-light">Create New User</h2>
  <form action="/user" method="POST" class="auth-form">
    <p class="input-field p-2">
      <input type="text" name="name" placeholder="Name" class="border-2 border-grey rounded p-2">
    </p>
    <p class="input-field p-2">
      <input type="email" name="email" placeholder="Email" class="border-2 border-grey rounded p-2">
    </p>
    <p class="input-field p-2">
      <input type="password" name="password" placeholder="Password" class="border-2 border-grey rounded p-2">
    </p>
    <p class="input-field p-2">

      <input type="submit" value="Sign Up" class="utton bg-purple-light rounded p-2 text-white">
    </p>
  </form>
</div>
</div>
</div>
